In [7]:
#Создайте таблицу в базе данных и добавьте в нее несколько записей.

import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()

cursor.execute('''CREATE TABLE people (id SERIAL PRIMARY KEY, name VARCHAR, age INT)''')

cursor.execute("INSERT INTO people (name, age) VALUES ('Charlie', 40)")
cursor.execute("INSERT INTO people (name, age) VALUES ('Mars', 31)")

cursor.execute("SELECT * FROM people")
print(cursor.fetchall())

# Закрытие соединения
conn.commit()
conn.close()

[(1, 'Charlie', 40), (2, 'Mars', 31)]

In [8]:
#Напишите SQL-запросы для извлечения данных из созданной таблицы. Все записи.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM people")
rows = cursor.fetchall()

# Вывод результатов
for row in rows:
    print(row)


conn.commit()
conn.close()

(1, 'Charlie', 40)
(2, 'Mars', 31)

In [9]:
#Напишите SQL-запросы для извлечения данных из созданной таблицы. Часть записей.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM people WHERE age < 35")
rows = cursor.fetchall()

# Вывод результатов
for row in rows:
    print(row)


conn.commit()
conn.close()

(2, 'Mars', 31)

In [11]:
#Изучите SQL-запросы для выполнения агрегации данных. Среднее значение.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute("SELECT AVG(age) FROM people")
avg_age = cursor.fetchone()[0]
print("Средний возраст:", avg_age)


conn.commit()
conn.close()

Средний возраст: 35.5000000000000000

In [13]:
#Создайте представление (VIEW) в базе данных на основе существующей таблицы и выполните запрос к нему.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute('''CREATE VIEW people_view AS SELECT name, age FROM people WHERE age = 40''')
cursor.execute("SELECT * FROM people_view")
rows = cursor.fetchall()
for row in rows:
    print(row)


conn.commit()
conn.close()

('Charlie', 40)

In [14]:
#Создала 2ую таблицу для 3 части.

import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()

cursor.execute('''CREATE TABLE people_2 (id SERIAL PRIMARY KEY, name VARCHAR, age INT)''')

# Вставка данных
cursor.execute("INSERT INTO people_2 (name, age) VALUES ('Kamilla', 25)")
cursor.execute("INSERT INTO people_2 (name, age) VALUES ('Lilit', 5)")
# Запрос данных
cursor.execute("SELECT * FROM people_2")
print(cursor.fetchall())

# Закрытие соединения
conn.commit()
conn.close()

[(1, 'Kamilla', 25), (2, 'Lilit', 5)]

In [37]:
#Напишите SQL-запрос с использованием подзапросов (subqueries) для выбора данных из нескольких таблиц.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM people_2 WHERE age NOT IN (SELECT age FROM people)")

print(cursor.fetchall())


conn.commit()
conn.close()

[(1, 'Kamilla', 25), (2, 'Lilit', 5)]

In [36]:
#Используйте JOIN-операции для объединения данных из двух таблиц.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute("SELECT people_2.name, people_2.age, people.age, people.name FROM people_2 FULL JOIN people ON people_2.id=people.id")

print(cursor.fetchall())


conn.commit()
conn.close()

[('Kamilla', 25, 40, 'Charlie'), ('Lilit', 5, 31, 'Mars')]

In [88]:
#Создайте индекс на одной из таблиц и измерьте производительность запроса до и после создания индекса.
import time
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute('CREATE INDEX idx_age ON people_2 (age)')


#Измерение производительности запроса до создания индекса
start_time = time.time()
cursor.execute("SELECT * FROM people_2 WHERE age = '25'")
rows = cursor.fetchall()
end_time = time.time ()
execution_time_before = end_time - start_time
print ("befor:", execution_time_before)

#Измерение производительности запроса после создания индекса
start_time = time.time()
cursor.execute("SELECT * FROM people_2 WHERE age ='25'")
rows = cursor.fetchall()
end_time = time.time ()
execution_time_after = end_time - start_time
print ("after:", execution_time_after)


conn.commit()
conn.close()

befor: 0.004985809326171875
after: 0.0006420612335205078

In [65]:
#Разработайте SQL-запрос с использованием оконных функций (window functions) для анализа данных внутри окна.
import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()
cursor.execute('SELECT name, age, SUM(age) OVER () FROM people')
sofs = cursor.fetchall()
for sof in sofs:
    display(sof)




conn.commit()
conn.close()

('Charlie', 40, 71)

('Mars', 31, 71)

In [101]:
#Изучите и примените операторы DDL (CREATE, ALTER, DROP) для управления структурой базы данных.


import psycopg2
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='0990',
    host='localhost',
    port=5432
)
cursor = conn.cursor()

cursor.execute('''CREATE TABLE NewTab (id SERIAL PRIMARY KEY, name VARCHAR, age INT)''')

cursor.execute('ALTER TABLE NewTab ADD COLUMN characteristic VARCHAR')

cursor.execute('DROP TABLE NewTab')


conn.commit()
conn.close()